<% include partials/template/head.ejs %>
    <% include partials/template/header.ejs %>
    <main>
        <% include partials/content/car-list.ejs %>
    </main>
    <% include partials/template/footer.ejs %>
<% include partials/template/foot.ejs %>
