<% include partials/template/head.ejs %>
    <% include partials/template/header.ejs %>
    <main>
        <p>Hello world.</p>
    </main>
    <% include partials/template/footer.ejs %>
<% include partials/template/foot.ejs %>
